*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  line-height: 1.5;
}

.table{
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 3px;
}

.caption{
  display: table-caption;
  text-align: center;
  font-weight: bold;
}

.thead{
  display: table-header-group;
  font-weight: bold;
}

.tbody{
  display: table-row-group;
}

.tr{
  display: table-row;
}

.th{
  border-bottom: 1px dashed #cccccc;
}

.tr:nth-child(odd){
  background: #f5f5f5;
}

.th,
.td{
  display: table-cell;
}

.td{
  padding: 10px 0;
}

.label{
  display: none;
}

@media all and (max-width: 600px){
  .thead{
    display: none;
  }
  .tr{
    display: block;
    margin-bottom: 1.5em;
    padding: 10px;
  }
  .td{
    display: inherit;
    padding: 0;
  }
  .label{
    font-weight: bold;
    display: inline-block;
    min-width: 120px;
  }  
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
